<header>
    <div class='grid  grid-pad'>
        <div class='col-6-24  grid-row'>
            <h2><%= link_to fa_icon('home', text: 'Letting'), root_path, class: 'link-hover  link-text-white' %></h2>
        </div>
   </div>
</header>
